.profile {
    width: 550px;
    height: 550px;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}

.profile-img {
    width: 500px !important;
    height: 500px !important;
    aspect-ratio: 1 / 1 !important;
    object-fit: cover !important;
    display: block;
    /* Keep offset border effect but make border square */
    --b: 10px; /* border thickness */
    --o: 30px; /* offset */
    --_p: calc(2*var(--o) + var(--b));
    padding: var(--_p) !important; /* Symmetric padding for square border */
    outline: var(--b) solid var(--tm-wood-brown) !important;
    outline-offset: calc(var(--o) - var(--_p));
    transition: 1s !important;
    cursor: pointer !important;
}

/* Hover border animation - preserve the hover effect */
.profile-img:hover {
    padding: calc(var(--_p)/2) !important;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 1200px) {
    .profile {
        width: 480px !important;
        height: 480px !important;
    }
    .profile-img {
        width: 430px !important;
        height: 430px !important;
        padding: var(--_p) !important; /* Keep symmetric padding */
    }
    .profile-img:hover {
        padding: calc(var(--_p)/2) !important;
    }
}

@media (max-width: 992px) {
    .profile {
        width: 420px !important;
        height: 420px !important;
    }
    .profile-img {
        width: 370px !important;
        height: 370px !important;
        padding: var(--_p) !important; /* Keep symmetric padding */
    }
    .profile-img:hover {
        padding: calc(var(--_p)/2) !important;
    }
}

@media (max-width: 768px) {
    .profile {
        width: 360px !important;
        height: 360px !important;
    }
    .profile-img {
        width: 320px !important;
        height: 320px !important;
        padding: var(--_p) !important; /* Keep symmetric padding */
    }
    .profile-img:hover {
        padding: calc(var(--_p)/2) !important;
    }
}

/* Override any media queries from styles.css that might interfere */
@media (min-width: 576px) {
    .profile {
        width: 550px !important;
        height: 550px !important;
    }
    .profile-img {
        width: 500px !important;
        height: 500px !important;
        padding: var(--_p) !important;
    }
    .profile-img:hover {
        padding: calc(var(--_p)/2) !important;
    }
}

@media (min-width: 768px) {
    .profile {
        width: 550px !important;
        height: 550px !important;
    }
    .profile-img {
        width: 500px !important;
        height: 500px !important;
        padding: var(--_p) !important;
    }
    .profile-img:hover {
        padding: calc(var(--_p)/2) !important;
    }
}

@media (min-width: 992px) {
    .profile {
        width: 550px !important;
        height: 550px !important;
    }
    .profile-img {
        width: 500px !important;
        height: 500px !important;
        padding: var(--_p) !important;
    }
    .profile-img:hover {
        padding: calc(var(--_p)/2) !important;
    }
}

@media (min-width: 1200px) {
    .profile {
        width: 550px !important;
        height: 550px !important;
    }
    .profile-img {
        width: 500px !important;
        height: 500px !important;
        padding: var(--_p) !important;
    }
    .profile-img:hover {
        padding: calc(var(--_p)/2) !important;
    }
}